.table-users .head > table > colgroup > .checkbox,
.table-users .body > .scrollable > table > colgroup > .checkbox {
  width: 66px;
}

.table-users .head > table > colgroup > .name,
.table-users .body > .scrollable > table > colgroup > .name {
  width: auto;
}

.table-users .head > table > colgroup > .email,
.table-users .body > .scrollable > table > colgroup > .email {
  width: auto;
}

.table-users .head > table > colgroup > .status,
.table-users .body > .scrollable > table > colgroup > .status {
  width: 140px;
}

.table-users .head > table > colgroup > .accessed,
.table-users .body > .scrollable > table > colgroup > .accessed {
  width: 140px;
}

.form-setup-user > .fieldset {
  min-width: 460px;
}

.form-setup-user > .fieldset > .field > .label {
  padding-left: 0;
  width: 160px;
}

.form-setup-user > .fieldset > .field > .control {
  padding-right: 0;
}

.form-setup-user > .fieldset > .field > .control > input[type='text'],
.form-setup-user > .fieldset > .field > .control > input[type='password'] {
  width: 270px;
}