.table-courses .head > table > colgroup > .checkbox,
.table-courses .body > .scrollable > table > colgroup > .checkbox {
  width: 66px;
}

.table-courses .head > table > colgroup > .name,
.table-courses .body > .scrollable > table > colgroup > .name {
  width: auto;
}

.table-courses .head > table > colgroup > .code,
.table-courses .body > .scrollable > table > colgroup > .code {
  width: auto;
}

.table-courses .head > table > colgroup > .subject,
.table-courses .body > .scrollable > table > colgroup > .subject {
  width: auto;
}

.table-courses .head > table > colgroup > .grade,
.table-courses .body > .scrollable > table > colgroup > .grade {
  width: auto;
}

.table-courses .head > table > colgroup > .start,
.table-courses .body > .scrollable > table > colgroup > .start {
  width: 140px;
}

.form-course-setup > .fieldset > .field > .label {
  width: 160px;
}

.form-course-setup > .fieldset > .field > .control > input[type='text'],
.form-course-setup > .fieldset > .field > .control > textarea {
  width: 270px;
}

.form-course-setup > .fieldset > .field > .control > .dropdown > .toggle > .text {
  width: 250px;
}

.form-course-setup > .fieldset > .field > .control > .richtext {
  width: 268px;
}